extends layout

block content
    h1 Update my account
    if query.status == "success"
        p Update successful.
    else if query.status == "failure"
        if query.reason == "password"
            p Update failed: invalid password.
        else if query.reason == "username"
            p Update failed: username already in use.
        else if query.reason == "email"
            p Update failed: email already in use.
        else 
            p Update failed...
    else
        p Use this form to change your username, email or password.
    form(action="/account/update", method="post")
        section(class="mb-3")
            label(for="username", class="form-label") Username 
            input(id="username", class="form-control", name="username", type="text", required, value=`${user.username}`) 
        section(class="mb-3")
            label(for="email", class="form-label") Email 
            input(id="email", class="form-control", name="email", type="text", placeholder="Enter email", required, value=`${user.email}`)
        section(class="mb-3")
            label(for="current-password", class="form-label") Current Password 
            input(id="current-password", class="form-control", name="password", type="password", required)
        section(class="mb-3")
            label(for="new-password", class="form-label") New Password 
            input(id="new-password", class="form-control", name="newpassword", type="password")
            small(class="form-text text-muted") You may let this field empty if you do not want to change your password.
        button(type="submit", class="btn btn-primary") Update