extends layout

block content
    h1 Admin
    h2 Signups
    p Signups enabled: #{conf.features.signup}.
    div(class="d-flex gap-3")
        form(action="/admin/enable/signup", method="post")
            button(type="submit", class="btn btn-primary") Enable
        form(action="/admin/disable/signup", method="post")
            button(type="submit", class="btn btn-primary") Disable
    h2 Delete fiddle 
    form(action="/admin/delete/fiddle", method="post")
        section(class="mb-3")
            label(for="fiddleId", class="form-label") Fiddle ID 
            input(class="form-control", name="fiddleId", type="text", required)
        button(type="submit", class="btn btn-primary") Delete
    h2 Delete user 
    form(action="/admin/delete/user", method="post")
        section(class="mb-3")
            label(for="username", class="form-label") Username or Email
            input(class="form-control", name="username", type="text", required)
        button(type="submit", class="btn btn-primary") Delete 
    