doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, height=device-height, user-scalable=0")
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js")
  body(onload="init()")
    div(id="layout-container")
      header(id="header") Hello 
      aside(id="sidebar") Sidebar
      main(id="viewport", class="split")
        div(id="code")
          pre= defaultDocument
        div(id="screen")
    div(id="home-overlay")
      figure(style="overflow:visible;", id="qtspinner")
        center(style="margin-top:1.5em; line-height:150%")
          img(src="qtlogo.svg", width="320", height="200", style="display:block")
          strong Qt for WebAssembly: qmlfiddle
          div(id="qtstatus")
          noscript JavaScript is disabled. Please enable JavaScript to use this application.
    script(type="text/javascript", src="javascripts/index.js")
    script(src="qmlfiddle.js")
    script(type="text/javascript", src="qtloader.js")
    script(src="editorbundle.js")
