doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    div(id="layout-container")
      header(id="header") 
        a(href="/")
          img(src="/favicon.ico", class="d-block") 
        div(class="flex-grow-1")
        ul(id="actions")
          if user 
            li
              form(action="/logout", method="post")
                button(class="btn btn-danger btn-sm action-btn", type="submit") Sign out
      main(id="content")
        block content
      footer(id="footer") 
        ul(class="hmenu", style="margin-left: 1em;")
          li
            a(href="/documentation.html", title="Documentation") Documentation
        ul(class="hmenu", style="margin-left: auto; margin-right: 1em;")
          li
            a(href="/privacy.html", title="Privacy policy")
              img(width="16", src="/images/biscuit.svg")
          li
            a(href="https://github.com/strandfield/qmlfiddle")
              img(width="16", src="/images/github-mark-white.svg")