extends layout

block content
    section(class="prompt")
        h1 Sign in
            form(action="/login/password", method="post")
                section 
                    label(for="username") username or email 
                    input(id="username", name="username", type="text", autocomplete="username", required)
                section 
                    label(for="current-password") password 
                    input(id="current-password", name="password", type="password", autocomplete="current-password", required)
                button(type="submit") Sign in
            hr
            p(class="help").
                Don't have an account? #[a(href="/signup") Sign up]
