extends layout

block content
  h1 Privacy policy


  h2 What is collected and how it is used

  p For unregistered users, no personal information is collected.
  p.
    When a user signs up through the #[a(href="/signup") Sign up] page, the following 
    information are collected: 
  ul 
    li username 
    li email
    li password 
  p.
    Your #[em username] is the only information that may be displayed to other 
    users (both registered and unregistered) of the site; for example, in your 
    profile page (e.g., #[a(href="/u/node") user node]).
  p.
    Your #[em email] may be used by the website administrator to contact you 
    if there is a problem with your account. It is not shown to other users of
    the website.
  p.
    A hash of your #[em password] is stored on the server; the password itself isn't stored.
  p.
    You may update any of these information from your #[a(href="/account") Account] page. 
    You may also delete your account from the same page.
  p.
    These information are not shared to any third party.


  h2 Cookies

  p.
    A session cookie is used when the user logs in.

  
  h2 Why create an account ?

  p.
    Fiddles created by registered users are attached to their account.
    They can be edited or deleted after they have been created.
    The size limit of fiddles is increased for registered users.

  
  h2 Source code 

  p. 
    The source code of this website is available on #[a(href="https://github.com/strandfield/qmlfiddle") GitHub].