extends layout

block content
    section(class="prompt")
        h1 Sign up
            form(action="/signup", method="post")
                section 
                    label(for="username") username 
                    input(id="username", name="username", type="text", required)
                section 
                    label(for="email") email 
                    input(id="email", name="email", type="text", required)
                section 
                    label(for="new-password") password 
                    input(id="new-password", name="password", type="password", required)
                button(type="submit") Sign up
            hr
            p(class="help").
                Already have an account? #[a(href="/login") Sign in]
