/* Make the html body cover the entire (visual) viewport with no scroll bars. */
html, body { padding: 0; margin: 0; overflow: hidden; height: 100% }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#layout-container {
  position: relative;
  height: 100vh;
}

#header {
  height: 36px;
  display:flex;
  align-items: center;
  gap: 12px;
  background-color:#484444;
  color: white;
  padding-left: 1ex;
}

#titleInput {
  width: 75%;
}

#actions {
  list-style: none;
  margin-right: 12px;
  padding: 0;
}

#actions > li {
  display: inline-block;
  padding-left: 8px;
}

#content {
  height: calc(100vh - 36px - 28px);
}

#footer {
  height: 28px;
  display:flex;
  align-items: center;
  width: 100vw;
  background-color: #484444;
  color: white;
  padding-left: 1em;
}

.hmenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hmenu > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
}

.hmenu a {
  text-decoration: none;
  color: white;
}

#screen-overlay {
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaaaaa;
}

#code {
  overflow-y: scroll;
}

#screen {

}

#console {
  padding: 1ex;
  font-family: monospace !important;
}

#qtspinner {
  margin: 0;
}

#hardcoded-fiddle {
  display: none;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.cm-editor {
    height: 100%;
}