
#header {
  height: 36px;
  display:flex;
  align-items: center;
  gap: 12px;
  background-color:#484444;
  color: white;
  padding-left: 1ex;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}